- name: Set up the system
  hosts: localhost
  pre_tasks:
    - name: Update package cache
      ansible.builtin.import_tasks: pre_tasks/update_package_cache.yml
      tags:
        - always
    - name: Setup the user
      ansible.builtin.import_tasks: pre_tasks/setup_ansible_user.yml
      tags:
        - always
    - name: Create the '$HOME/.config' directory
      ansible.builtin.import_tasks: pre_tasks/create_config_directory.yml
      tags:
        - always
    - name: Ensure the dotfiles repo exists
      ansible.builtin.import_tasks: pre_tasks/ensure_dotfiles_repo_exists.yml
      tags:
        - always
  roles:
    - role: common
      tags:
        - system
    - role: docker
      tags:
        - system
    - role: etc_files
      tags:
        - system
