#SPDX-License-Identifier: MIT-0
# tasks file for etc_files
- name: Deploy sshd_config
  ansible.builtin.template:
    src: sshd_config.j2
    dest: /etc/ssh/sshd_config
    owner: "{{ etc_owner }}"
    group: "{{ etc_group }}"
    mode: "{{ etc_mode }}"
    backup: true
    validate: "/usr/sbin/sshd -t -f %s"
  notify: Restart sshd
- name: Deploy sysctl.conf
  ansible.builtin.template:
    src: sysctl.conf.j2
    dest: /etc/sysctl.conf
    owner: "{{ etc_owner }}"
    group: "{{ etc_group }}"
    mode: "{{ etc_mode }}"
  notify: Reload sysctl
- name: Deploy pacman.conf
  ansible.builtin.template:
    src: pacman.conf.j2
    dest: /etc/pacman.conf
    owner: "{{ etc_owner }}"
    group: "{{ etc_group }}"
    mode: "{{ etc_mode }}"

# - name: Deploy /etc templates
#   ansible.builtin.template:
#     src: "{{ item.src }}"
#     dest: "{{ item.dest }}"
#     owner: root
#     group: root
#     mode: "0644"
#     backup: true
#   loop:
#     - { src: "sshd_config.j2", dest: "/etc/ssh/sshd_config" }
#     - { src: "sysctl.conf.j2", dest: "/etc/sysctl.conf" }
