---
- name: Update system
  pacman:
    update_cache: yes
    upgrade: yes

- name: Set hostname
  hostname:
    name: "{{ hostname }}"

- name: Install base packages
  pacman:
    name: "{{ base_packages }}"
    state: present
