#SPDX-License-Identifier: MIT-0
# handlers file for etc_files
- name: Restart sshd
  ansible.builtin.service:
    name: sshd
    state: restarted
- name: Reload sysctl
  ansible.builtin.command: sysctl --system
